process {
    sra_tools_container = 'docker://quay.io/biocontainers/sra-tools:2.10.9--pl526haddd2b5_0'
/// As of 2020-12-22, didn't seem to work with some sort of aspera connect issue?
//    withName:fasterq_dump {
//        container = sra_tools_container
//    }
}

includeConfig '../singularity.nf.config'
