process {
    spades_container = 'docker://quay.io/biocontainers/spades:3.14.1--h2d02072_0'
    withName:spades_meta_PE_nano {
        container = spades_container
    }
    withName:spades_meta_PE {
        container = spades_container
    }
    withName:rnaspades_PE {
        container = spades_container
    }
}

includeConfig '../singularity.nf.config'
