conda.cacheDir = "/dev/shm/TRF_condaenv"

process {
    maxRetries = 0
    errorStrategy = "finish"
}

//singularity container parameters from below config:
includeConfig './modules/sra-tools/nextflow.config'
includeConfig './modules/prokka/nextflow.config'
includeConfig './modules/spades/nextflow.config'
includeConfig './modules/blast/nextflow.config'
